@charset "UTF-8";

:root{
	background-color: aqua;
	
	--color-main:#000;
	font-family: "メイリオ", Arial, Helvetica, sans-serif ;
}

*{
	margin:0;
	padding:0;
}

body{
	margin-left:10%;
	margin-right:10%;
	background-color: #000;
}

.header-title {
	margin-top:0;
	background-color: cornsilk;
	padding-top: 0px;
	padding-bottom: 10px;
}

.header-title .container {
	background-color: blue;
	display:flex;
}

.header-title .container .title{
	display:block;
	background-color: darkorange;
	padding-top:2px;
	padding-bottom:2px;
}

.header-title .container .logins {
	background-color: red;
	display:inline-block;
	margin-left:auto;
}

.header-title .container .logins lu{
	background-color: yellow;
	list-style-type: none;
	display:flex;
}
.header-title .container .logins li{
	padding-right:30px;
}
