<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Blog : Home</title>
</head>
<body>
	<h1>Spring Blog app</h1>
	</hr>
	<a th:href="@{/registPost}">create new Post</a>
	<form action="#"
		  th:action="@{/regist}"
		  th:object="${newUser}"
		  method="POST">
		<div class="input-group">
			<label for="name">
				<input id="name" type="text" th:field="*{name}" placeholder="name" />
			</label>
			<label for="password">
				<input id="password" type="password" th:field="*{password}" placeholder="Password">
			</label>
		</div>
	<button type="submit">push</button>
	</form>
	<div class="user" th:each="user: ${userList}">
		<lu>
			<li th:text="${user.id}"></li>
			<li th:text="${user.name}"></li>
			<li th:text="${user.password}"></li>
			<li th:text="${user.password_salt}"></li>
		</lu>
		</h2>
		<br>
	</div>
	<a th:href="@{/posts}">pos</a>
</body>
</html>