<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{css/styles.css}" />
<title>Blog : login</title>
</head>
<body>
    <div class="login-container">
	<h2>ログイン</h2>
	<div class="input-menu">		
		<form action="#"
			  th:action="@{/login}"
			  method="POST"
			  id="loginFrom">
			<div class="input-group">
				<label for="username" class="inputs-title">ユーザーネーム</label>
					<input class="inputs" id="name" type="text" name="username" placeholder="name" />
			</div>
			<div class="input-group">
				<label for="password"class="inputs-title">パスワード</label>
					<input class="inputs" id="password" type="password" name = "password" placeholder="Password">
			</div>
		<button type="submit" id="checkButton">ログイン</button>
        <p class="register-link">新規登録は <a href="register.html">こちら</a></p>
		</form>
    </div>
	</div>
    <script src="script.js"></script>
</body>
</html>