<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
</head>
<body>
	<h2>hello world</h2>
	
	<form action="#"
		  th:action="@{/registPost}"
		  th:object="${post}"
		  method="POST">
		<div class="input-group">
			<label for="title">
				<input id="title" type="text" th:field="*{title}" placeholder="name" />
			</label>
                <label for="new-post-body">Body</label>
                <textarea id="new-post-body" th:field="*{body}"></textarea>
            <label for="authorId">
				<input id="authorId" type="text" th:field="*{authorId}" placeholder="authorId" />
			</label>
			<label for="categoryId">
				<input id="categoryId" type="text" th:field="*{categoryId}" placeholder="categoryId" />
			</label>
		</div>
	<button type="submit">push</button>
	</form>
	
	<th:block th:if="">
	<div class="post" th:each="post: ${postList}" th:>
		<lu>
			<li th:text="${post.id}"></li>
			<li th:text="${post.title}"></li>
			<li th:text="${post.body}"></li>
			<li th:text="${post.createdAt}"></li>
		</lu>
		</h2>
		<br>
	</div>
	</th:block>
	<a th:href="@{/}">home</a>
</body>
</html>